<header class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto">
    <img class="rounded-full size-16" src="/me-image.webp" alt="mi foto">

    <nav class="flex flex-row gap-x-10 opacity-90">
        <a href="#top">Inicio</a>
        <a href="#experiencia">Experiencia</a>
        <!-- <a href="#sobre-mi">Sobre mí</a> -->
        <a href="mailto:matias.miranda.c@ug.uchile.cl">Contacto</a>
    </nav>
</header>