<a 
    class={`
    bg-white/5 
    rounded-full border border-white/10 
    flex justify-center items-center 
    transition
    gap-x-2
    py-1 px-2 md:py-2 md:px-4
    text-xs md:text-base
    hover:scale-105 hover:bg-white/10`}
    href={Astro.props.href}
>
    <slot/>
</a>